server:
  port: 8080
spring:
  application:
    name: gateway
  jackson:
    default-property-inclusion: non_null
  cloud:
    nacos:
      server-addr: 127.0.0.1:8848
logging:
  level:
    zzjjcc: debug